/* stepper */
.kZggmn {
    height: auto !important;
}

.kYZbEw {
    height: auto !important;
}

.fHJxJf {
    width: 2rem !important;
    height: 2rem !important;
}

.gLqEuD {
    width: 2rem !important;
    height: 2rem !important;
}

.fZFUFy {
    width: 2rem !important;
    height: 2rem !important;
}

.kaXVCh {
    width: 2rem !important;
    height: 2rem !important;
}

.gJsbb {
    width: 4em !important;
    height: 3em !important;
    border-radius: 50% !important;
}

.ifYgTL {
    font-size: 15px !important;
    font-weight: 400 !important;
}

.HoOvK {
    font-size: 15px !important;
    font-weight: 400 !important;
}

.fNQZLR {
    margin-top: 0px !important;
}

.jwKJl {
    margin-top: 0px !important;
}

.gPKPTD {
    font-size: 13px !important;

}

input{
   @apply border-2 border-gray-200 outline-none
}

/* stepper */